// :root{
// }

.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden; 
    margin-left: 82px;
  }
//   ion-row{
//     display: flex;
//     align-items: center;
//   }
//   // "scripts": {
//   //   "ng": "ng",
//   //   "start": "ng serve",
//   //   "build": "ng build",
//   //   "watch": "ng build --watch --configuration development",
//   //   "test": "ng test",
//   //   "lint": "ng lint"
//   // },
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



ion-card {
  margin-top: 10px;
  max-width: 300px;
  margin: auto;
}

ion-img {
  max-width: 100px;
  margin: 20px auto;
}
