<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row style=" display: flex; justify-content: space-between; padding: 0 1rem;">
      <ion-text>Profile Page</ion-text>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profileScreen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="userInfoContainer">
    <div class="avatar">
      <img src="../../assets/images/profilePic.jpg">
    </div>
    <ion-text>Aditya Salunke</ion-text>
    <p>Student at SPIT</p>
    <div class="followersContainer">
      <div class="info">
        <p>233</p>
        <p>Posts</p>
      </div>
      <div class="info">
        <p>101K</p>
        <p>Followers</p>
      </div>
      <div class="info">
        <p>12</p>
        <p>Following</p>
      </div>
    </div>
    <ion-button shape="round" >Follow</ion-button>
  </div>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <img class="paddin-bot" src="../../assets/images/pic1.jpg">
      <img src="../../assets/images/pic4.jpg">

    </ion-col>
    <ion-col size='6' >
      <img class="paddin-bot" src="../../assets/images/pic2.jpg">
      
      <img src="../../assets/images/pic3.jpg">

 /   </ion-col >

  </ion-row>

</ion-grid>

</ion-content> -->


<ion-content>
  <ion-card>
    <div class="avatar">
      <img src="../../assets/images/chai.jpg">
    </div>
    <ion-card-header>
      <ion-card-subtitle>Name</ion-card-subtitle>
      <ion-card-title>Chaitanya Shetty</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          
          <ion-input type="text" value="cshetty@gmail.com" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>Age</ion-label>
          <ion-input type="number" value="21" disabled></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
