

<ion-content >
  <ion-header [translucent]="true" >
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>





  <div class="parent">

    <div class="intro">
      <p>Welcome Chaitanya !!</p>
    </div>
    <!-- <div class="subHeading">
      <p>to learn today ?</p>
    </div> -->


    <!-- <div class="searchBar">
      <ion-icon style="color:black" size="large" name="search" ></ion-icon>
      <input style="color:black" placeholder="Search...">
    </div> -->


    <!-- <div class="recentContainer">
      <div class="iconContainer">
        <div class="image1">
          <img src="../../assets/images/rainbow.png">
          
        </div>
        <p >Color</p>

      </div>

      <div class="iconContainer">
        <div class="image1">
          <img src="../../assets/images/apple.png"> 
        </div>        
        <p >Body</p>

        

      </div>

      <div class="iconContainer">
        <div class="image1">
          <img src="../../assets/images/hand.png"> 
        </div>        
        <p >Food</p>

      </div>

   
    </div> -->

    
    <ion-grid >
      <div style="font-weight: 800; font-size: 2rem; font-family: TextBold;">Continue Watching</div>
      <br>
      <ion-row>
        <!-- <ion-col class=""  size="6">
          <div class="container1"  >
            <img src="../../assets/images/giraffe.png" alt="">
            <p class="header">Animals</p>
            <p class="subheaer">70 words</p>

          </div>
        </ion-col> -->
        <ion-col class="" size='12' >
         
          <div class="container2"  >
            <img src="../../assets/images/safariFin.png" alt="">
            <p class="header">Safari Hunt</p>
            <p class="subheaer">Wildlife</p>
          </div>
          
          <div class="container2"  >
            <img src="../../assets/images/download-fotor-bg-remover-2023051321374.png" alt="">
            <p class="header">The Antartic Quest</p>
            <p class="subheaer">Geography</p>
          </div>

          <div class="container2"  >
            <img src="../../assets/images/safariFin.png" alt="">
            <p class="header">Safari Hunt</p>
            <p class="subheaer">Wildlife</p>
          </div>
        </ion-col >
    
      </ion-row>
    
    </ion-grid>
  </div>
</ion-content>
